.section-header.invite {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 35px;
  color: white;
  line-height: 38px;
  text-align: center;
  width: 80%;
}

.list-outer-wrapper {
  background: white;
  width: 100%;
  flex: 1;
}
